.msg-error {
    margin: 0 auto;
}

.operation-delete-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .delete-content {
        margin: 20px auto;
        font-size: 1.2rem;
        font-weight: 650;
    }

    .btn {
        align-self: flex-end;
    }
}