$basic-color: #15133C;
$basic-color-active: #04040c;
$basic-color-2: #73777B;
$basic-color-2-active: #66686b;
$basic-color-3: #F1EEE9;
$basic-color-3-active: #bab8b6;
$basic-color-4: #EC994B;
$basic-color-4-active: #ee8625;

$error-color: #ff0000;
$error-color-active: #d10707;