$basic-color: #15133C;
$basic-color-active: #04040c;
$basic-color-2: #73777B;
$basic-color-2-active: #66686b;
$basic-color-3: #F1EEE9;
$basic-color-3-active: #bab8b6;
$basic-color-4: #ec994b;
$basic-color-4-active: #ee8625;
$basic-color-5: #F7CE68;

$transparent-white: rgba(255, 255, 255, 0.2);
$transparent-black: rgba(0, 0, 0, 0.2);

$background-color-fixed-black: linear-gradient(to left, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.35));
$background-color-fixed-white: linear-gradient(to left, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.25));
$background-color: linear-gradient(62deg, $basic-color-4 0%, $basic-color-5 100%);
$background-color-white: linear-gradient(62deg, $basic-color-3 0%, $basic-color-3-active 100%);
$background-color-black: linear-gradient(62deg, #222 30%, $basic-color-active 80%);

$error-color: #ff0000;
$error-color-active: #d10707;