@import '../../../assets/color.style.scss';

.multi-link {
    position: relative;

    .multi-btn {
        &:hover {
            cursor: pointer;
        }
    }

    .multi-links {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 5px;
        padding: 5px 0;
        background-color: $basic-color-3-active;
    }
}

@media screen and (min-width: 800px) {
    .multi-link {
        display: flex;
        justify-content: center;

        .multi-btn {
            width: 100%;
            padding: 5px 10px !important;
            margin: 0 !important;
        }

        .multi-links {
            position: absolute;
            top: 40px;
            padding: 5px;
            background-color: $basic-color-3;
            border-left: 1px solid $basic-color-3-active;
            border-right: 1px solid $basic-color-3-active;

            a {
                white-space: nowrap;
            }
        }
    }
}