@import '../../../assets/color.style.scss';

.operations-btn-wrapper {
    position: relative;

    .operations-btn {
        &:hover {
            transform: none;
        }
    }

    .operations-list {
        z-index: 21;
        position: absolute;
        top: 40px;
        right: -4px;
        min-width: 100%;
        height: auto;
        max-height: 0px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: $basic-color-3;
        border: 0px solid $basic-color-active;
        border-radius: 4px;
        transition: 0.7s all ease-out;

        &.show {
            max-height: 200vh;
            padding: 10px;
            border-width: 4px;
        }

        .btn,
        .link {
            width: 100%;
            white-space: nowrap;
        }
    }
}