@import '../../assets/color.style.scss';

.fixed-btn {
    display: block;
}

.filter-result {
    position: relative;
    min-height: 100vh;

    .filter {
        position: fixed;
        z-index: 21;
        top: 0;
        left: -100vw;
        overflow-y: auto;
        width: calc(100vw - 100px);
        max-width: 300px;
        height: 100vh;
        padding: 25px 20px;
        background-color: $basic-color-3;
        border-right: 2px solid $basic-color;
        transition: 0.7s all ease-out;
        box-sizing: border-box;

        &.show {
            left: 0;
        }
    }

    .result {
        min-height: 100vh;
        padding: 50px 25px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .fixed-btn {
            align-self: flex-start;
        }
    }
}

@media screen and (min-width: 600px) {
    .filter-result {
        min-height: 0vh;

        .filter {
            position: absolute;
            height: auto;
            margin-top: 20px;
            max-width: 300px;
            border-top: 2px solid $basic-color;
            border-bottom: 2px solid $basic-color;
        }

        .result {
            min-height: 0;
        }
    }
}

@media screen and (min-width: 1000px) {
    .fixed-btn {
        display: none;
    }

    .filter-result {
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        .filter {
            position: relative;
            left: 0;
            border: none;
        }

        .result {
            width: 100%;
        }
    }
}