@import '../../../app/assets/color.style.scss';

.msg {
    margin: 100px auto;
    width: 90vw;
    max-width: 400px;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.register-p {
    max-width: 500px;
    margin: 80px auto 10px;
    padding-left: 10px;
    text-align: left;

    .register-btn {
        margin-left: 5px;
        padding-bottom: 5px;
        color: $basic-color-active;
        text-decoration: none;
        font-weight: 700;
        border-bottom: 2px solid $basic-color-active;
        transition: 0.6s all linear;

        &:hover {
            color: $basic-color-4-active;
            border-color: $basic-color-4-active;
        }
    }
}

.login-form {
    width: 90vw;
    max-width: 500px;
    margin: 0 auto 100px;

    .main-error {
        margin: 20px 0 5px;
    }

    label {
        &:nth-of-type(1) {
            margin-top: 10px;
        }

        span {
            margin-left: 5px;
        }
    }
}