@import '../../../assets/color.style.scss';

.user {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 15px;
    border-bottom: 2px solid $basic-color-3;

    .user-grouping {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        a {
            &.profile {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 10px;
                padding: 5px;
                border-bottom: none;

                &:hover {
                    border-bottom: none;
                }
            }
        }

        .user-roles {
            display: flex;
            justify-content: space-around;
            align-items: center;
            border: 2px solid $basic-color-3;
            border-radius: 10px;

            .role {
                color: $basic-color-3;
                font-weight: 700;
                margin: 2px 10px;
            }

            .btn {
                border-radius: 10px;
                margin: 0;

                &:hover {
                    transform: none;
                }
            }
        }
    }

    button {
        align-self: flex-end;
        margin-right: 10px;
    }
}

@media screen and (min-width: 800px) {
    .user {
        flex-direction: row;
        gap: 5px;
        padding-bottom: 0;
        border-bottom: none;

        .user-grouping {
            .user-roles {
                border: 2px solid $basic-color-active;

                .role {
                    color: $basic-color-active;
                }
            }
        }
    }
}