@import '../../assets/color.style.scss';

$menuLinksPaddingTop: 80px;
$breakWidth: 800px;

.nav {
    z-index: 100;

    &.nav-relative {
        position: relative;
        background-color: $basic-color;
    }

    &.nav-fixed {
        position: fixed;
        width: 100%;
    }

    .menu-btn {
        z-index: 101;
        position: fixed;
        top: 20px;
        right: 20px;
        width: 40px;

        &:hover {
            cursor: pointer;
            font-weight: 600;
        }
    }

    .menu-links {
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        gap: 20px;
        padding-top: $menuLinksPaddingTop;
        border-left: 2px solid $basic-color;
        background-color: $basic-color-3;
        min-height: calc(100vh - $menuLinksPaddingTop);
        min-width: 120px;
        transition: 0.3s all ease-out;

        &.right {
            right: -$breakWidth;
        }

        &.show {
            right: 0px;
        }

        a,
        .link {
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            color: $basic-color;
            font-size: 1rem;
            font-weight: 800;
            letter-spacing: 1px;
            padding: 5px 0;
            margin: 0 10px;
            border-radius: 2px;
            transition: 0.5s all linear;

            &:hover,
            &.active {
                color: $basic-color-3;
                background-color: $basic-color-2;
            }
        }

        .links {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    }
}

@media screen and (min-width: $breakWidth) {
    .nav {

        .menu-btn {
            display: none;
        }

        .menu-links {
            position: relative;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            background-color: transparent;
            padding: 25px;
            margin: 0 auto;
            min-height: 0;
            max-width: 1400px;
            border-left: none;

            &.right {
                right: 0;
            }

            a,
            .link {
                margin: 0;
                padding: 5px 10px;
                color: $basic-color-3;
                border-bottom: 4px solid $basic-color-3;

                &:hover,
                &.active {
                    background-color: transparent;
                    transform: scale(1.02);
                }

                &:hover {
                    border-bottom: 4px solid $basic-color-4;
                }

                &.active {

                    color: $basic-color-4;
                }
            }

            .links {
                flex-direction: row;
                justify-content: flex-start;
            }
        }
    }

}